In [17]:
# 11.1 
#  Create a file called zoo.py. In it, define a function called hours()
#  that prints the string 'Open 9-5 daily'


#zoo.py (wont work on this unless zoo.py file is on the same folder)

def hours ():
    return "Open 9-5 daily"

In [18]:
#Import the zoo module and call its hours() function
import zoo
hours()

'Open 9-5 daily'

In [2]:
#     11.2
import zoo as menagerie
hours()

Open 9-5 daily

In [8]:
#16.8
lines = [
    "author,book",
    "J R R Tolkien,The Hobbit",
    'Lynne Truss,"Eats, Shoots & Leaves"'
]

with open('books.csv', 'w') as file:
    for line in lines:
        file.write(line + '\n')

In [9]:
import csv

with open('books.csv', 'r') as file:
    reader = csv.DictReader(file)
    books = list(reader)

print(books)

[{'author': 'J R R Tolkien', 'book': 'The Hobbit'}, {'author': 'Lynne Truss', 'book': 'Eats, Shoots & Leaves'}]

In [10]:
lines = [
    "title,author,year",
    "The Weirdstone of Brisingamen,Alan Garner,1960",
    "Perdido Street Station,China Miéville,2000",
    "Thud!,Terry Pratchett,2005",
    "The Spellman Files,Lisa Lutz,2007",
    "Small Gods,Terry Pratchett,1992"
]

with open('books2.csv', 'w') as file:
    for line in lines:
        file.write(line + '\n')

In [11]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

conn.commit()
conn.close()

In [12]:
with open('books2.csv', 'r') as file:
    csv_reader = csv.reader(file)
    next(csv_reader)  # skip the header
    for row in csv_reader:
        conn = sqlite3.connect('books.db')
        cursor = conn.cursor()
        cursor.execute('INSERT INTO books VALUES (?, ?, ?)', (row[0], row[1], int(row[2])))
        conn.commit()
        conn.close()

In [13]:
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('SELECT title FROM books ORDER BY title')
titles = cursor.fetchall()
conn.close()

print(titles)

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

In [14]:
# Select and print all columns from the book table in order of publication.

conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('SELECT * FROM books ORDER BY year')
all_columns = cursor.fetchall()
conn.close()

print(all_columns)

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007)]

In [15]:
from sqlalchemy import create_engine, select, MetaData, Table

engine = create_engine('sqlite:///books.db', echo=True)
metadata = MetaData()
books = Table('books', metadata, autoload_with=engine)

with engine.connect() as connection:
    stmt = select([books.columns.title]).order_by(books.columns.title)
    results = connection.execute(stmt).fetchall()

    for title in results:
        print(title[0])

2023-11-19 20:41:35,851 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("books")
2023-11-19 20:41:35,853 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-19 20:41:35,857 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-11-19 20:41:35,857 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2023-11-19 20:41:35,863 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("books")
2023-11-19 20:41:35,864 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-19 20:41:35,865 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("books")
2023-11-19 20:41:35,867 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-19 20:41:35,869 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-11-19 20:41:35,871 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2023-11-19 20:41:35,874 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("books")
2023-11-19 20:41:35,874 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-19 20:41:35,878 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("books")
2023-11-19 20:41:35,878 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-19 20:41:35,878 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex_books_1")
2023-11-19 20:41:35,882 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-19 20:41:35,884 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-11-19 20:41:35,884 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2023-11-19 20:41:35,891 INFO sqlalchemy.engine.Engine SELECT books.title
FROM books ORDER BY books.title
2023-11-19 20:41:35,891 INFO sqlalchemy.engine.Engine [generated in 0.00127s] ()
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!